# Database
DATABASE_URL=postgresql://postgres:yiYVtUxCCxHSpWBmutMNOHLXVjfkXkSX@tramway.proxy.rlwy.net:52265/railway

# Security (Generate with: openssl rand -hex 32)
SECRET_KEY=cWizKCy2JcSzhLglMNu2GPqfaBW6pyZXErckSxvpIgM
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=10080

# Environment
ENVIRONMENT=development
DEBUG=true

# CORS
ALLOWED_ORIGINS=http://localhost:3000,https://star-citizen-app.vercel.app

# External APIs
UEX_API_URL=https://uexcorp.space/api/2.0/commodities
UEX_API_KEY="5a3968ea34819ee5843fb698533e442ed9179708"
